<footer>
  <ul class="flex justify-center gap-10 p-3 bg-footer-gray text-sm font-semibold">
    <li>Privacy Policy</li>
    <li>About</li>
    <li>Home</li>
    <li>Sign In</li>
    <li>Sign Up</li>
  </ul>

  <p class="text-center p-4 bg-main text-white">
    Survey Rails App © 2025 | Mario Martínez
  </p>
</footer>