<header>
  <nav class="flex justify-between bg-main text-white p-4">
    <ul class="flex gap-3">
      <li class="fa-solid fa-book text-2xl"></li>
      <li>Survey Rails App</li>
    </ul>

    <ul class="flex gap-3">
      <li class="bg-sign-in rounded">
        <%= button_to "Sign in", "#", class: "btn-small" %>
      </li>
      <li class="bg-sign-up rounded">
        <%= button_to "Sign up", "#", class: "btn-small" %>
      </li>
    </ul>
  </nav>
</header>